div.login-wrapper {
    margin-top: 10%;
    height:fit-content;
    display:block;
    text-align: center;
    color: white;
    background-color: blue;
}
.main-banner {
    background-image: url(../images/banner-bg.jpg);
    border-radius: 0px 0px 150px 150px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 225px 0px;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
  }